AppData/Local/clink/clink.log
AppData/Local/clink/clink_history
.glzr/glazewm/errors.log
.glzr/zebar/errors.log
AppData/Local/clink/clink_errorlevel_1C08.txt
AppData/Local/clink/clink_history_26748.removals
AppData/Local/clink/clink_history_26748
AppData/Local/clink/clink_history_36856
AppData/Local/clink/clink_history_36856.removals
